./data/url_to_filenames/*
./data/wget_bash_commands/*
./data/wget_targets/*
./data/etc/*
./data/hdf5/*
./data/npy_blocks/*
./data/photometry/*
./data/raw_photo/*
./data/photometryv2/*
./data/redshifts_broken_beck/*
./data/spectroscopy/*
./slurm_scripts/train/e.txt
./slurm_scripts/train/o.txt
./slurm_scripts/tune/e.txt
./slurm_scripts/tune/o.txt
./bin/*
./PRETRAINED/*
./torch_rdzv/*
./tensorboardlog/*
./rayresults/*
./MODELS/*
./MODELSold/*
./mantis_shrimp.egg-info/*
./NOTEBOOKS/*.npy
./tensorboardlog2/*
./tensorboardlog3/*
